<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>


<nav class="navbar bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'organization_manager:people' %}">People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'organization_manager:households' %}">Households</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'organization_manager:organizations' %}"> Organizations</a>
            </li>
        </ul>
    </div>
    {% block searchbar %}
    {% endblock searchbar %}
</nav>
<div class="container rounded py-5 bg-light">
    {% block content_header %}
    {% endblock content_header %}
    <hr class="my-5">
    {% block content %}
    {% endblock content %}
</div>

</body>
</html>