{% extends 'organization_manager/base.html' %}

{% block title %}Person Database{% endblock title %}

{% block content_header %}
    <h1>People In {{ household }}</h1>
{% endblock content_header %}

{% block content %}
    <form method="POST" action="{% url 'organization_manager:people_in_household' household.household_ID %}">
    {% csrf_token %}
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Spouse</th>
                <th>Household</th>
                <th>Action</th>
            </tr>
            {% for person in people %}
                <tr>
                    <td class="align-middle">{{ person.first_name }}</td>
                    <td class="align-middle">{{ person.middle_name }}</td>
                    <td class="align-middle">{{ person.last_name }}</td>
                    <td class="align-middle">{{ person.email }}</td>
                    <td class="align-middle">{{ person.spouse }}</td>
                    <td class="align-middle">{{ person.household }}</td>
                    <td class="align-middle">
                        <div class="d-flex gap-2">
                            <div class="p-1">
                                <a href="{% url 'organization_manager:update_person' person.person_ID %}" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="p-1">
                                <button formnovalidate type="submit" class="btn btn-primary" name="remove" value="{{ person.person_ID }}">Remove</button>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <h1 class="py-5">Add a Person</h1>
        <hr>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Spouse</th>
                <th>Action</th>
            </tr>
            {% for person in people_ex %}
                <tr>
                    <td class="align-middle">{{ person.first_name }}</td>
                    <td class="align-middle">{{ person.middle_name }}</td>
                    <td class="align-middle">{{ person.last_name }}</td>
                    <td class="align-middle">{{ person.email }}</td>
                    <td class="align-middle">{{ person.spouse }}</td>
                    <td class="align-middle">
                        <div class="d-flex gap-2">
                            <div class="p-1">
                                <button formnovalidate type="submit" class="btn btn-primary" name="add" value="{{ household.household_ID }}">Add</button>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock content %}
