person.html{% extends 'organization_manager/base.html' %}

{% block title %}Household Database{% endblock title %}

{% block content_header %}
    <h1>Households In Database</h1>
{% endblock content_header %}

{% block content %}
    <form method="POST" action="{% url 'organization_manager:households' %}">
    {% csrf_token %}
        <table class="table table-striped">
            <tr>
                <th>Household Name</th>
                <th>Household Contact</th>
                <th>Number of Members</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            {% for household in households %}
                <tr>
                    <td class="align-middle">{{ household.household_name }}</td>
                    <td class="align-middle">{{ household.household_contact }}</td>
                    <td class="align-middle">{{ household.members.count }}</td>
                    <td class="align-middle">{{ household.address }}</td>
                    <td class="align-middle">
                        <div class="d-flex gap-2">
                            <div class="p-1">
                                <a href="{% url 'organization_manager:update_household' household.household_ID %}" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="p-1">
                                <button formnovalidate type="submit" class="btn btn-primary" name="delete" value="{{ household.household_ID }}">Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="5" class="text-center">
                        <h1>Add a Household</h1>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">Household Name</th>
                    <th class="align-middle">Contact Person</th>
                    <th class="align-middle">Members</th>
                    <th class="align-middle">Address</th>
                    <th class="align-middle">Action</th>
                </tr>
                <tr>
                {% for field in form %}
                    <td class="align-middle">{{ field }}</td>
                {% endfor %}
                    <td>
                        <div class="d-grid p-1 mx-auto"><button type="submit" class="btn btn-primary" name="save">Save</button></div>
                    </td>
                </tr>
        </table>
    </form>
{% endblock content %}
